.page {
    display: flex;
    height: 100vh;
    overflow: hidden; /* Ensure no scrolling */
    background-color: lightgray;
}

.left-sidebar, .right-sidebar {
    width: 350px;
    background-color: cadetblue;
    padding: 1rem;
    box-sizing: border-box;
    position: relative;
    user-select: none;
}

.file-input {
    margin-top: 1rem;
}

button {
    border-radius: 6px;
    margin-top: 1rem;
    background-color: cadetblue;
}

button:hover {
    background-color: #2d5ba3;
    color: white;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-container {
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    position: relative; /* Ensure the container is positioned correctly */
    overflow: hidden; /* Ensures no overflow when items are dragged */
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    background-color: #fff;
}

.right-sidebar {
    margin-left: auto;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.tab-button {
    flex: 1;
    padding: 0.5rem;
    cursor: pointer;
    background-color: darkcyan;
    border: 1px solid;
    border-radius: 0px;
    outline: none;
    transition: background-color 0.3s ease;
}

.tab-button.active {
    background-color: #bbb;
}

.tab-content {
    display: flex;
    flex-direction: column;
}

.group {
    margin-bottom: 1rem;
}

.shape-circle, .shape-square {
    background-color: #ccc;
    border: 1px solid #999;
    margin-bottom: 0.5rem;
}

.shape-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.shape-square {
    width: 40px;
    height: 40px;
}

.slider-placeholder {
    background-color: #ddd;
    border: 1px solid #bbb;
    margin-bottom: 0.5rem;
}

.vertical-slider-placeholder {
    width: 8px;
    height: 100px;
    background: linear-gradient(to top, #bbb 50%, #ddd 50%);
}

.horizontal-slider-placeholder {
    width: 100%;
    height: 8px;
    background: linear-gradient(to right, #bbb 50%, #ddd 50%);
}

.form-group {
    margin-top: 1rem;
}

.form-color {
    width: 100%;
    margin-bottom: 0.5rem;
}

.form-checkbox {
    margin-left: 0.5rem;
}

.dragging {
    opacity: 0.5;
    cursor: grabbing;
    z-index: 1000; /* Bring it on top during dragging */
}

.canvas-container .draggable {
    position: absolute; /* Ensure draggable items are absolutely positioned */
}
